.full-width-table {
  width: 100%;
}
.new-item-fab {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
}

.save-item-fab {
  position: fixed;
  bottom: 75px;
  right: 15px;
  z-index: 100;
}
